@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Jetbrains+Mono:wght@400;500;600&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "katex/dist/katex.min.css";
@plugin "@tailwindcss/typography";

@theme {
    --font-instrument-serif: "Instrument Serif", serif;
    --font-serif: "Noto Serif", serif;
    --font-jetbrains-mono: "Jetbrains Mono", monospace;
}

:root {
    --link-accent: #0f766e;
    --link-accent-hover: #115e59;
    --link-accent-dark: #2dd4bf;
    --link-accent-dark-hover: #5eead4;
}

code {
    font-family: var(--font-jetbrains-mono);
}
