---
function getAge(): number {
	const birthDate = new Date(2004, 1, 11);
	const today = new Date();
	let age = today.getFullYear() - birthDate.getFullYear();
	const hasBirthdayOccurred =
		today.getMonth() > birthDate.getMonth() ||
		(today.getMonth() === birthDate.getMonth() &&
			today.getDate() >= birthDate.getDate());
	if (!hasBirthdayOccurred) {
		age--;
	}
	return age;
}
---

<ul class="list-inside">
	<li class="pb-2">
		- hi, i am chandram. i should be {getAge()} years old.
	</li>
	<li class="pb-2">
		- rn i am majoring in electrical and electronics engineering at <a
			href="https://vit.ac.in/"
			class="underline">vellore institute of technology</a
		>.
	</li>
	<li class="pb-2">
		- i am working at <a href="https://adora-app.com/" class="underline"
			>adora inc.</a
		> as a sde intern.
	</li>
</ul>
