---
import "@fontsource/shippori-antique-b1";
import "@fontsource/dm-mono";
import TopBar from "../components/TopBar.astro";
---

<html lang="en" class="bg-black text-white font-dm-mono">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>onlychan.xyz</title>
		<meta
			name="description"
			content="Hi! I am Chandram. I love coding and overengineering things."
		/>
	</head>
	<body class="p-4 h-screen w-screen">
		<TopBar>
			<slot />
		</TopBar>
	</body>
</html>
